@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    padding-top: 20px;
    font-size: 24px;
    color: aliceblue;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}
  
.menu .navbar ul li a{
   font-size: 15px;
   padding: 20px;
   color: #555;
   display: block;
}

.menu .navbar ul li a:hover {
    color:#3C8ECA;

}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}


.container-section{
    padding: 80px 0 54px;
    position: relative;
    text-align: center;
}

.informacion-personal{
    align-items: center;
    color: rgb(92, 92, 92);
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    margin-left: -15px;
    margin-right: -15px;
    text-align: left;
}


.text-center h1 {
    position: relative;
    vertical-align: middle;
    align-items: center;
    color: rgb(92, 92, 92);
    font-size: 55px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.mi{    
    color:#3C8ECA;   
}

.subtitulo {
    position: relative;
    display: inline-block;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(92, 92, 92);
    margin: 5px 0 0;
    box-sizing: border-box;
}

.container-img {
  max-width: 70%;
  height: auto;
  margin-top: 50px;
  margin-left: 40px;
    
}

.img-01{
    width: 410px;
    height: 410px;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
}

.container-text{
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.informacion-personal{   
    padding-left:60px ;
      
}

.columnas{
    display: flex;
    justify-content: space-between;
    text-align: left;     
    padding-right: 30px;   
}

.col-1{
    box-sizing: border-box;
    color: rgb(92, 92, 92);
    font-size: 15px;
    font-weight: 400;
    line-height: 21,6;
    list-style-image: none;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 16px;
}

.col-2{
    box-sizing: border-box;
    color: rgb(92, 92, 92);
    font-size: 15px;
    font-weight: 400;
    line-height: 21,6;
    list-style-image: none;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 16px;
}


.lista{
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 7px;
    margin-left: 0px;
    margin-right: 15px;
}

.list-1 h6{
    box-sizing: border-box;
    color: rgb(92, 92, 92);
    font-size: 15px;
    font-weight: 500;
    line-height: 21,6;
    list-style-image: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -8px;
}

.list-2 h6{
    box-sizing: border-box;
    color: rgb(92, 92, 92);
    font-size: 15px;
    font-weight: 500;
    line-height: 21,6;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -8px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    position: relative;
}


.boton-01 {
    align-items: left;
}

.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: #3C8ECA;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 30px;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 20px;
    text-align: left;
  
}

.btn-1:hover{
    background-color: #185683;
}

.icono1{
    width:13px;
    margin-right: 5px;
}

.linea{
    box-sizing: border-box;
    color: #555;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    opacity: 60%;
} 
   